<appSettings>
	<add key="SIFEIUsuario" value="MUMR6604247X9" />
	<add key="SIFEIContrasena" value="650976ba" />
	<add key="SIFEIIdEquipo" value="ZDZmMzVlZjgtOWNlYi0xNjE3LWY3ZGUtNTJkODQ1MjIyMWFi" />
	<add key="Telerik.Web.UI.RenderMode" value="lightweight" />
	<add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
	<add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
	<add key="Telerik.Skin" value="Bootstrap" />
	<add key="conn" value="Data Source=.\SQLEXPRESS03; Initial Catalog=nomilink_cobana; Persist Security Info=True; Trusted_Connection=yes; Max Pool Size=360;" />
	<!--<add key="conn" value="Data Source=localhost; Initial Catalog=nomilink_cobana; User ID=linkiumuser; Password=Verisen90; Max Pool Size=360;" />-->
</appSettings>